/*color options:
banner - gray-black #423f3f */
/* font colors: */
/* light gray #cccaca */
/* lighter gray almost white #f2f2f2 */
/* light blue user icon color #27aecc */

@import-normalize;

* {
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    /* border: 2px solid green; */
}

.body, html {
    min-height: 100%;
}

img {
    max-width: 100%;
    max-height: 50%;
    min-width: 100%;
    min-height: 25%;
    border-bottom: 4px solid #5f5f5f;
}

.logo {
    min-width: 0.5vw;
    max-width: 4vw;
    padding-bottom: 0.5vw;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #4df0f9;
}

.header-main-page {
    width: 90%;
    margin-right: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3vw;
    font: "Helvetica Neue Heavy";
    font-size: 75px;
    font-weight: bold;
    color: #5f5f5f;
}

.navigate {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    width: 35vw;
}

.nav-dash,
.admin-text {
    color: color: #rgb(3 101 117);
}
.nav-dash {
    font-size: 22px;
    margin-bottom: 11%;
    padding-left: 7%;
}

.admin-text {
    font-size: 20px;
}
.admin-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 65vw;
    padding-right: 3vw;
    margin-bottom: 20px;
}

.btn {
    width: 35%;
    height: 30%;
    border: none;
    border-radius: 30px;
    margin-right: 2%;
    margin-bottom: 10%;
    font-size: 16px;
    font-weight: bold;
    background-color: black;
    opacity: 60%;
    color: #4df0f9;
}

.admin-text {
    color: #5f5f5f;
}

.main-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.user-card-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}   

.user-card {
    margin: 0.5vw 2vw 1vw 2vw;
    width: 32vw;
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    /* border: 3px solid rgb(191, 190, 190); */
    box-shadow: 0 8px 10px 0 #5f5f5f, 0 8px 22px 0 #5f5f5f;
    overflow: hidden;
    border: 4px solid #5f5f5f;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 28px;
    max-height: 2%;
}

.power-text {
    text-align: center;
}

/* For desktop: */
/* .user-card {width: 8.33%;}
.user-card {width: 16.66%;}
.user-card {width: 25%;}
.user-card {width: 33.33%;}
.user-card {width: 41.66%;}
.user-card {width: 50%;}
.user-card {width: 58.33%;}
.user-card {width: 66.66%;}
.user-card {width: 75%;}
.user-card {width: 83.33%;}
.user-card {width: 91.66%;}
.user-card {width: 100%;} */

/* @media only screen and (max-width: 768px) {
    [class="user-card"] {
        width: 100%;
    }
} */


